.pull-right
  link-to "movies.new" tagName="button" class="btn btn-default"
    | Add New Movie

h1 Movies

.row
  .col-md-4
    table.table.table-striped
      thead
        tr
          th Movie
      tbody
        each model as |movie|
          tr
            td
              link-to "movies.show" movie.id
                | #{movie.name} (#{movie.year})
  .col-md-8
    = outlet
